<template>
  <section class="container-fluid">
    <div>
      <h2>Добавление путевок</h2>
      <form  method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Страна</label>
          <input type="text" name="country" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" inputmode="text" v-model="country">
        </div>
        <div class="mb-3">
          <label for="exampleInput" class="form-label">Город</label>
          <input type="text" name="city" class="form-control" id="exampleInput" inputmode="text" v-model="city">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Описание тура</label>
          <textarea class="form-control" name="desc" id="exampleFormControlTextarea1" rows="3" inputmode="text" v-model="desc"></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInput" class="form-label">Длительность тура</label>
          <input type="number" name="days" class="form-control" id="exampleInput" inputmode="numeric" v-model="day" >
        </div>
        <div class="mb-3">
          <label for="exampleInput" class="form-label">Стоймость тура</label>
          <input type="number" name="price" class="form-control" id="exampleInput" inputmode="numeric" v-model="price">
        </div>
        <button type="button" class="btn btn-primary" @click="sendForm()">Добавить тур</button>
      </form>
    </div>
  </section>
</template>

<script>
// @ is an alias to /src=

export default {

  data(){
    return{
        country: '',
        city: '',
        desc: '',
        day: '',
        price: ''
    }
  },
  mounted(){
    fetch('/user.json')
      .then(response => response.json())
      .then(json => this.user = json)
  },
  methods: {
    async sendForm(){
      let data = {
        country: this.country,
        city: this.city,
        desc: this.desc,
        day: this.day,
        price: this.price
      }
      fetch('http://httpbin.org/post', {
          method: "POST",
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }
      ).then(response => console.log(response))
    }
  }
}
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: row;
}

.background-wrapper {
  padding: 10px;
}

.filter {
  display: flex;
  flex-direction: column;
  max-width: 275px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}
.welcome-heading, .welcome-text {
  color: white
}

.background {
  background-image: url(@/assets/background.jpg);
  background-position: 50% 50%;
}
</style>
