<template>
    <section class="container background" >
        <div>
            <h2 class="heading">Путевка #{{tourID}}</h2>
        </div>
        <div class="container mt-4">
        <h5 class="mb-4">Путевка в {{tourinfo.country}}</h5>
        <p class="mb-4">Длительность {{tourinfo.day}} дней</p>
        <p class="mb-4">Экскурсии, отели, клубы по всему {{tourinfo.city}}</p>
        <p class="mb-4">Горячая цена: {{tourinfo.price}} долларов!</p>
        <button type="button" class="btn btn-danger mb-4">Заказать путевку</button>
        </div>
    </section>
</template>

<script>

export default {
    data() {
        return{
            tourinfo: []
        }
    },
    computed: {
        tourID() {
            return +this.$route.params.id
        }
    },
    mounted(){
        fetch('/main.json')
            .then(response => response.json())
            .then(json => this.tourinfo = json.find(el => el.id == this.$route.params.id))
    }
}
</script>

<style scoped>
.container {
    padding: 1rem;
}

.mb-4, .heading {
    color:white;
}

.background {
    background-image: url(@/assets/background.jpg);
    background-position: 50% 50%;
}
</style>
