<template>
  <section class="container-fluid background">
      <div class="background-wrapper">
        <h1 class="welcome-heading">Путешествуй</h1>
        <p class="welcome-text">С нами легко можно путешествовать по всему миру, а самое главное — долго, качественно, дешево! </p>
        <p class="welcome-text"> Заказывай путевку, пока есть места!</p>
        <a href="#" class="btn btn-danger mb-4">Заказать путевку</a>
      </div>
  </section>
  <section class="container">
    <div class="container mt-2 filter">
    <form class="d-flex mb-2">
      <input class="form-control" type="search" placeholder="Поиск" v-model="search" aria-label="Search">
    </form>
    <select class="form-select" aria-label="Default select example">
      <option selected>Сортировка</option>
      <option value="1">По цене</option>
      <option value="2">По городам</option>
      <option value="3">По длительности</option>
    </select>
    <ul class="list-group">
      <h3>Страна полета</h3>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="Турция"  aria-label="...">
        Турция
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="Греция" aria-label="...">
        Греция
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="Испания" aria-label="...">
        Испания
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="Потругалия" aria-label="...">
        Португалия
      </li>
    </ul>
    <ul class="list-group">
      <h3>Длительность поездки</h3>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="7" v-model="filtr" aria-label="...">
        7 дней
      </li>
      <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="14" v-model="filtr" aria-label="...">
        14 дней
      </li>
    </ul>
    <button type="button" class="btn btn-primary mb-1" @click="update">Обновить список</button>
    </div>
    <TourList
    v-bind:tours="searchItem"
    />
  </section>
  <section class="container comments">

    <div class="container-fluid form-floating">
          <h2>Комментарии
    </h2>
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Comments</label>
    </div>  
  </section>
  <section class="container comments">
  <CommentList
  v-bind:comments="comments"
  />
  </section>

</template>

<script>
// @ is an alias to /src
import TourList from '@/components/TourList.vue'
import CommentList from '@/components/CommentList.vue'

export default {
  components: {
    TourList,
    CommentList
  },
  data(){
    return{
      search: '',
      filtr: '',
      tours: [],
      comments: [],
    }
  },
  mounted(){
    fetch('/main.json')
      .then(response => response.json())
      .then(json => this.tours = json)
    fetch('/comments.json')
      .then(response => response.json())
      .then(json => this.comments = json)
  },
  computed: {
    searchItem(){
      return this.tours.filter(elem => {
        return elem.country.toLowerCase().includes( this.search.toLowerCase())
      })
    },
    // filterItem(){
    //   return this.tours.filter(elem => {
    //     return elem.day.includes(this.filtr)
    //   })
    // }
  },
  methods: {
    update(){
      fetch('/main.json')
      .then(response => response.json())
      .then(json => this.tours = json)
    }
  }
}
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: row;
}

.background-wrapper {
  padding: 10px;
}

.filter {
  display: flex;
  flex-direction: column;
  max-width: 275px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}
.welcome-heading, .welcome-text {
  color: white
}

.background {
  background-image: url(@/assets/background.jpg);
  background-position: 50% 50%;
}

@media print {
  section {
    page-break-before: always;
  }

  .filter {
    display: none;
  }

  .comments {
    display: none;
  }

  .background {
    display: none;
  }
}
</style>
