<template>
    <li class="list-group-item">
        <div class="w-100 ">
            <span class="visually-hiden">{{commentitem.id}}</span>
            <h5 class="mb-1">{{commentitem.name}}</h5>
            <p class="mb-1">{{commentitem.comment}}</p>
        </div>
        
    </li>
</template>
<script>
export default {
    props: {
        commentitem: {
            type: Object,
            required: true
        }
    },
    mounted(){
        
    }
}

</script>
<style>
.visually-hiden{
    display: none;
}
</style>