<template>
  <div class="container-fluid">
  <ul class="list-group list-group-flush">
    <CommentItem
    v-for="comment of comments"
    :key="comment.id"
    v-bind:commentitem="comment"
    />
  </ul>
  </div>
</template>

<script>
import CommentItem from '@/components/CommentItem.vue'
export default {
  components: {
    CommentItem
  },
  props: ['comments'],
}
</script>
