<template>
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <span class="visually-hiden">{{touritem.id}}</span>
            <router-link :to="`/tour/${touritem.id}`"><h5 class="mb-1">Путевка в {{touritem.country}}</h5></router-link>
            <small>Длительность {{touritem.day}} дней</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">Экскурсии, отели, клубы по всему {{touritem.city}}</p>
            <p class="mb-1">Горячая цена: {{touritem.price}} долларов!</p>
            <button type="button" class="btn btn-primary mb-1">Заказать путевку</button>
        </div>
        
    </li>
</template>
<script>
export default {
    props: {
        touritem: {
            type: Object,
            required: true
        }
    },
    mounted(){
        
    }
}

</script>
<style>
.visually-hiden{
    display: none;
}
</style>