<template>
  <div class="container-fluid">
  <ul class="list-group list-group-flush">
    
    <TourItem
    v-for="tour of tours"
    :key="tour.id"
    v-bind:touritem="tour"
    />
  </ul>
  </div>
</template>

<script>
import TourItem from '@/components/TourItem.vue'
export default {
  components: {
    TourItem
  },
  props: ['tours'],
}
</script>
