<template>
<header class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><router-link class="nav-link active" to="/">Главная</router-link></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><router-link class="nav-link active" to="/cabinet">testuser</router-link></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-view/>
</header>
</template>


<style lang="scss">
@import "~bootstrap/dist/css/bootstrap.css";
#app {
  font-family: Comfortaa, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.navbar-collapse {
  justify-content: space-between;
}

@media print {
  .navbar {
    display: none;
  }
}
</style>
